.container.contact__container {
  width: 58%;
  display: grid;
  grid-template-columns: 40% 53%;
  gap: 7%;
}

.contact__options {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.contact__option {
  background: var(--color-bg-variant);
  padding: 1.2rem;
  border-radius: 1.2rem;
  text-align: center;
  border: 1px solid transparent;
  transition: var(--transition);
}

.contact__option:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
}

.contact__option-icon {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.contact__option a {
  margin-top: 0.7rem;
  display: inline-block;
  font-size: 0.8rem;
}

/* =============== FORM =============== */
form {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

input,
textarea {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: transparent;
  border: 2px solid var(--color-primary-variant);
  resize: none;
  color: var(--color-white);
}

.btn.btn-primary.submit-btn {
  padding: 0.48rem 0.42rem;
  font-size: 1rem;
}

/* ================= MEDIA QUERIES (MEDIUM DEVICES) ================= */

@media screen and (max-width: 1024px) {
  .container.contact__container {
    grid-template-columns: 1fr;
    gap: 3rem;
    width: 68%;
  }

  .contact__options {
    flex-direction: unset;
    justify-content: center;
    gap: 2rem;
  }

  .contact__option:nth-of-type(1),
  .contact__option:nth-of-type(3) {
    flex-basis: 25%;
  }

  .contact__option:nth-of-type(2) {
    transform: scale(1.1);
  }

  form {
    gap: 2rem;
    align-items: center;
  }

  input,
  textarea {
    width: 70%;
  }
}

/* ================= MEDIA QUERIES (SMALL DEVICES) ================= */

@media screen and (max-width: 600px) {
  .container.contact__container {
    width: var(--container-width-sm);
  }
}
